* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 40rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid rgb(219,219,219);
    margin-bottom: 0.5rem;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
    margin-bottom: 30px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 0.5rem;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    font-weight: 600;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
}

.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10.5rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('img/googleplay-button.png');
}

/*media queries*/

@media(max-width:1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (min-width:651px) and (max-width: 787px) {
    .instagram-wrapper {
        width: 90%;
        justify-content: space-between;
    }

    .instagram-continue {
        width: 40%;
    }

    .download {
        flex-direction: column;
    }
}

@media(max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}

@media(max-width: 345px) {

    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }

    .download {
        flex-direction: column;
    }
}